.container{
  width: 560px;
  margin: 0 auto;

}

p {
  font-family: 'courier';
  margin-left: auto;
  margin-right: auto;
  font-size: 3vmin;
}

h1 {
  font-family: 'courier new';
  width: 24vmax;
  font-size: 4vmin;
  color: cadetblue;
  font-weight: 1200;
  display: inline;
}

body {
  background-color: #323437; 
  transition: all 0.25s ease 0s, transform 0.05s ease 0s; 
  cursor: crosshair;
  overflow: auto
}

.equation_types {
  font-family: 'courier';
  font-size: 1.2em;
  color: #DBE8F9;
  color:rgb(255, 255, 255);
  display: inline;
  white-space: nowrap;
}

label {
  color: #7789a0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6vmin;
}

input {
  font-family: 'courier';
  margin-right: auto;
  font-size: 2.8vmin;
  color: #b19fba;
  background-color: transparent;
  border: 1px solid #5b5f67;
  border-radius: 5px;
}

.operator {
  font-family: 'courier';
  margin-left: auto;
  margin-right: auto;
  color: cadetblue;
  font-size: 3vmin;
}

#solve {
  margin-top: 1em;
  font-family: 'courier';
  font-size: 2vmin;
  color: rgb(255, 255, 255);
  background-color: #58606d;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

#solution {
  margin-top: 3vmin;
  font-family: 'courier';
  font-size: 2vmin;
  color: #FA6121;
  background-color: #323437;
  border: 0.1px solid cadetblue;
  border-radius: 5px;
  padding: 1vmin;
  width: fit-content;
  margin-left: 0;
}

.blink {
  font-size: 3.6vmin;
  font-weight: 800;
  white-space: nowrap; /* Keeps the content on a single line */
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from, to { color: transparent; }
  50% { color: cadetblue; }
}

br {
  display: block;
  margin: 1.2vmin;
}

hr {
  display: block;
  margin-top: 0.9vmin;
  margin-bottom: 2vmin;
  margin-right: 10rem;
  color: rgb(71, 76, 77);
}

#clear {
  font-family: 'courier';
  font-size: 2vmin;
  color: rgb(255, 255, 255);
  background-color: #58606d;
  border: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 30%;
  margin-top: 1vmin;
}

#center_it {
  margin: 16vmin;
}

input[type=radio] {
  display: none;
}

input[type="radio"]:checked+label {
  font-weight: bold;
  color: #FA6121;
}

label:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@import url("https://p.typekit.net/p.css?s=1&k=yoj1mzf&ht=tk&f=175.12641.43889.43890&a=6761704&app=typekit&e=css");

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"imperial-urw";
src:url("https://use.typekit.net/af/e732a3/000000000000000077359f0c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e732a3/000000000000000077359f0c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e732a3/000000000000000077359f0c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}


@font-face {
  font-family:"roboto-mono";
  src:url("https://use.typekit.net/af/282b2a/00000000000000007735ca3e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/282b2a/00000000000000007735ca3e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/282b2a/00000000000000007735ca3e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:500;
  }

.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
.tk-imperial-urw { font-family: "imperial-urw",sans-serif; }
.tk-gilbert { font-family: "gilbert",sans-serif; }
.tk-gilbert-color { font-family: "gilbert-color",sans-serif; }
.tk-roboto-mono { font-family: "roboto-mono",sans-serif; }